[Unit]
Description=ycharcore daemon
After=network.target network-online.target
Before=shutdown.target reboot.target halt.target

[Service]
ExecStart=/usr/local/bin/ycharcore start --conf /var/lib/ychatcore/ychatcore.conf
ExecReload=/bin/kill -HUP $MAINPID
Type=idle
KillMode=process
Restart=always
RestartSec=1s
TasksMax=infinity

[Install]
WantedBy=multi-user.target

